*.log
/literature/papers/*
.DS_Store
*.aux
*.fls
*.out
*.blg
*.fdb_latexmk
*.gz(busy)
*.synctex.gz
*.bbl
*.tdo
*.toc
*.pdf
# exclude everything in literature folder except the bib itself
literature/*
!literature/thesis.bib
_minted*
